<aside id="sidebar" class="sticky-top">
  <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-expanded="false" aria-controls="sidebarCollapse">
    Toggle Menu
  </button> -->
  <!-- <div class="collapse" id="sidebarCollapse"> -->
  <ul class="sidebar-nav">
    <li class="sidebar-item">
      <a href="{{ '001-Introduction-to-Python' | prepend: site.baseurl }}" class="sidebar-link">Introduction to
        Python</a>
    </li>
    <li class="sidebar-item">
      <a href="{{ '002-Basics-of-Python' | prepend: site.baseurl }}" class="sidebar-link">Basics of Python</a>
    </li>
    <li class="sidebar-item">
      <a href="{{ '003-Control-Structures' | prepend: site.baseurl }}" class="sidebar-link">Control Structures</a>
    </li>
    <li class="sidebar-item">
      <a href="{{ '004-Functions-and-Modules' | prepend: site.baseurl }}" class="sidebar-link">Functions and
        Modules</a>
    </li>
    <li class="sidebar-item">
      <a href="{{ '005-Data-Structures' | prepend: site.baseurl }}" class="sidebar-link">Data Structures</a>
    </li>
    <li class="sidebar-item">
      <a href="{{ '006-Object-Oriented-Programming-in-Python' | prepend: site.baseurl }}"
        class="sidebar-link">Object-Oriented Programming in Python</a>
    </li>
    <li class="sidebar-item">
      <a href="{{ '007-Working-with-Files' | prepend: site.baseurl }}" class="sidebar-link">Working with Files</a>
    </li>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4967292172494506"
      crossorigin="anonymous"></script>
    <!-- Vertical ads -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4967292172494506" data-ad-slot="2495801202"
      data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <li class="sidebar-item">
      <a href="{{ '008-Error-and-Exception-Handling' | prepend: site.baseurl }}" class="sidebar-link">Error and
        Exception Handling</a>
    </li>
    <li class="sidebar-item">
      <a href="{{ '009-Libraries-and-Frameworks' | prepend: site.baseurl }}" class="sidebar-link">Libraries and
        Frameworks</a>
    </li>
    <li class="sidebar-item">
      <a href="{{ '010-Advanced-Topics' | prepend: site.baseurl }}" class="sidebar-link">Advanced Topics</a>
    </li>
  </ul>
  <!-- </div> -->
</aside>