<script>
  $(document).ready(function () {
    const loaderjs = document.createElement('script');
    loaderjs.src = '/assets/js/loader.js';

    loaderjs.onload = function () {
      require.config({
        paths: { 'vs': 'https://cdn.jsdelivr.net/npm/monaco-editor@0.45.0/min/vs' }
      });
      require(['vs/editor/editor.main'], function () {
        const codeContainers = document.querySelectorAll('pre > code');

        codeContainers.forEach((codeContainer) => {
          const pre = codeContainer.parentElement;
          const width = pre.offsetWidth;
          const height = pre.offsetHeight;

          const monacoContainer = document.createElement('div');
          monacoContainer.setAttribute('style', `position: relative; width: 100%; height: ${height}px;`);

          const monacoEditor = document.createElement('div');
          monacoEditor.setAttribute('style', `width: 100%; height: 100%;`);

          const monacoResizeBar = document.createElement('div');
          monacoResizeBar.setAttribute('style', `position: absolute; width: 100%; height: 3px; background-color: #f1f1f1; cursor: row-resize; bottom: 0; left: 0;`);

          monacoContainer.appendChild(monacoEditor);
          monacoContainer.appendChild(monacoResizeBar);

          // Insert the new container after the pre
          pre.parentElement.insertBefore(monacoContainer, pre.nextSibling);

          const editor = monaco.editor.create(monacoEditor, {
            value: codeContainer.textContent,
            language: 'python',
            theme: 'vs-dark',
            fontSize: 16,
          });

          // Set the editor layout to the pre size
          editor.layout({ width, height: height + 2 });

          // The editor is ready to be used
          // Hide the original code
          pre.style.display = 'none';
        });
      });
    };

    document.body.appendChild(loaderjs);
  });
</script>