<script>
  $(document).ready(function () {
    const loaderjs = document.createElement('script');
    loaderjs.src = '/assets/js/loader.js';

    loaderjs.onload = function () {
      require.config({
        paths: { 'vs': 'https://cdn.jsdelivr.net/npm/monaco-editor@0.45.0/min/vs' }
      });
      require(['vs/editor/editor.main'], function () {
        const codeContainer = document.querySelector('pre > code');
        // codeContainer.setAttribute('style');
        const editor = monaco.editor.create(codeContainer, {
          value: codeContainer.textContent,
          language: 'python',
          automaticLayout: true,
          theme: 'vs-dark'
        });

        // editor.layout();
        const width = codeContainer.offsetWidth;
        const height = codeContainer.offsetHeight;
        // // B. The editor does not need to scan the container, 
        // // avoiding a forced layout
        editor.layout({ width, height });
      });
    };

    document.body.appendChild(loaderjs);
  });
</script>